.about {
  margin-top: 120px;
  padding-left: 18px;
  padding-right: 18px;
}

.about a {
  color: black;
  font-weight: bold;
}

.about a:hover {
  color: red;
}

.user_login, .user_signup, .sub-body {
  padding-left: 18px;
  padding-top: 100px;
  padding-bottom: 50px;
}