<%= render :partial => '/shared/main_nav' %>

<div class="about">
  <p>This project was designed by Alexandra Millatmal during her time at <a href="http://omahacodeschool.com">Omaha Code School.</a></p>
  
  <p>Feel free to <a href="http://twitter.com/halfghaninne">ask her about it</a> on Twitter or <a href="https://github.com/halfghaninne/2015-03-22-rails-mapped-articles">dive into the project's code</a> on GitHub.</p>
</div>